<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'book_new', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="title">書籍登録</h1>

<div class="container">

  <%= form_with(model: @book, local: true, data: { turbo: false }, html: { multipart: true }) do |f| %>
    <div class="form-group">
      <%= f.label :title, "タイトル:" %>
      <%= f.text_area :title, id: "title", rows: 1, onkeydown: "return event.key != 'Enter';" %>
    </div>

    <div class="form-group">
      <%= f.label :author, "著者:" %>
      <%= f.text_area :author, id: "author", rows: 1, onkeydown: "return event.key != 'Enter';" %>
    </div>

    <div class="form-group">
      <%= f.label :publisher, "出版社:" %>
      <%= f.text_area :publisher, id: "publisher", rows: 1, onkeydown: "return event.key != 'Enter';" %>
    </div>

    <div class="radio-container">
      <div class="form-group">
        <%= f.radio_button :genre, "文学・文芸", id: "literature" %>
        <%= f.label :genre, "文学・文芸", for: "literature", class: "radio-btn" %><br>

        <%= f.radio_button :genre, "雑誌", id: "magazine" %>
        <%= f.label :genre, "雑誌", for: "magazine", class: "radio-btn" %><br>

        <%= f.radio_button :genre, "コミック", id: "comic" %>
        <%= f.label :genre, "コミック", for: "comic", class: "radio-btn" %><br>

        <%= f.radio_button :genre, "文庫", id: "pocketbook" %>
        <%= f.label :genre, "文庫", for: "pocketbook", class: "radio-btn" %><br>
      </div>

      <div class="form-group">
        <%= f.radio_button :genre, "文芸書", id: "literary_book" %>
        <%= f.label :genre, "文芸書", for: "literary_book", class: "radio-btn" %><br>

        <%= f.radio_button :genre, "専門書", id: "specialist_book" %>
        <%= f.label :genre, "専門書", for: "specialist_book", class: "radio-btn" %><br>

        <%= f.radio_button :genre, "児童書・学習参考書", id: "children_reference" %>
        <%= f.label :genre, "児童書・学習参考書", for: "children_reference", class: "radio-btn" %><br>
      </div>
    </div>

    <div class="input-container">
      <%= f.label :date, "出版日※半角数字で８字入力してください", for: "dateInput" %>
      <%= f.text_field :date, class: "date-input", id: "dateInput", maxlength: 8, oninput: "formatDate(this)" %>
    </div>

    <div class="input-container-img">
      <%= f.label :book_image, "表紙画像", for: "imageInput", class: "input-container-img-label" %>
      <%= f.file_field :book_image, id: "imageInput", accept: "image/*", onchange: "previewImage(event)" %>
    </div>

    <div class="image-preview-container">
      <img id="imagePreview" src="#" alt="jpgまたはpngファイルをアップロードしてください" class="image-preview">
    </div>

    <div class="registration-btn">
      <%= f.submit "登録" %>
    </div>
  <% end %>
</div>

<!-- モーダルの構造 -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
</div>

<script>
  function formatDate(input) {
    let value = input.value.replace(/\D/g, ''); // 数字以外の文字を削除

    if (value.length !== 8) {
      input.value = value;
      validateDate(); // 日付の妥当性を検証
      return;
    }

    let year = value.substring(0, 4);
    let month = value.substring(4, 6);
    let day = value.substring(6, 8);

    input.value = year + "/" + month + "/" + day;
    validateDate(); // 日付の妥当性を検証
  }

  function validateDate() {
    var dateInput = document.getElementById("dateInput");
    var parts = dateInput.value.split('/');
    if (parts.length !== 3) {
      dateInput.setCustomValidity("日付は半角数字8文字で入力してください");
      return;
    }
    var year = parseInt(parts[0], 10);
    var month = parseInt(parts[1], 10);
    var day = parseInt(parts[2], 10);
    var date = new Date(year, month - 1, day);

    // 今日の日付を取得
    var today = new Date();
    today.setHours(0, 0, 0, 0); // 時間をゼロにセット

    if (date.getFullYear() !== year || date.getMonth() + 1 !== month || date.getDate() !== day) {
      dateInput.setCustomValidity("有効な日付を入力してください");
    } else if (date > today) {
      dateInput.setCustomValidity("今日より先の日付は設定できません");
    } else {
      dateInput.setCustomValidity("");
    }
  }

  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
      var output = document.getElementById('imagePreview');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }

  // モーダルを開く処理
  document.addEventListener("DOMContentLoaded", function() {
    const bookImage = document.getElementById('imagePreview');
    const modal = document.getElementById("myModal");
    const modalImg = document.getElementById("img01");
    const closeBtn = document.getElementsByClassName("close")[0];

    if (bookImage) {
      bookImage.addEventListener('click', function() {
        if (bookImage.src !== "#") {
          modal.style.display = "flex";
          modalImg.src = bookImage.src;
        }
      });
    }

    closeBtn.onclick = function() {
      modal.style.display = "none";
    }

    modal.onclick = function(event) {
      if (event.target !== modalImg) {
        modal.style.display = "none";
      }
    }
  });

  document.addEventListener("DOMContentLoaded", function() {
    var form = document.querySelector('form');
    var dateInput = document.getElementById("dateInput");

    form.addEventListener('submit', function(event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        validateDate();
        dateInput.reportValidity();
      }
    });

    if (dateInput.value) {
      var formattedDate = dateInput.value.replace(/(\d{4})(\d{2})(\d{2})/, '$1/$2/$3');
      dateInput.value = formattedDate;
      validateDate(); // ページロード時にも日付の妥当性を検証
    }
  });
</script>