<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag '/assets/session_new.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="login-container">
    <div class="form-container">
      <div class="form_heading">ログイン</div>  
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p>メールアドレス</p>
        <%= f.email_field :email, id: "email", value: @input_email %>

        <p>パスワード</p>
        <%= f.password_field :password, id: "password" %>

        <%= f.submit "ログイン" %>
      <% end %>

      <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "パスワードを忘れました", new_password_path(resource_name), class: "centered-link" %>
      <% end %>
    </div>
</div>


<h3 class="login-label">以下でログインする</h3>

<div class="login-container">
  <% if devise_mapping.omniauthable? %>
    <% resource_class.omniauth_providers.each do |provider| %>
      <% if provider.to_s == 'github' %>
        <div class="omniauth-button-container" onclick="location.href='<%= omniauth_authorize_path(resource_name, provider) %>';">
          <div class="omniauth-button-content", id: "github_signin_button">
            <%= image_tag 'github_icon.png', alt: "GitHubでログイン", class: 'provider-icon', id: "github_signin_button" %>
            <span class="provider-name">ログイン</span>
          </div>
        </div>
      <% elsif provider.to_s == 'google_oauth2' %>
        <div class="omniauth-button-container" onclick="location.href='<%= omniauth_authorize_path(resource_name, provider) %>';">
          <div class="omniauth-button-content", id: "google_signin_button">
            <%= image_tag 'google_login_button.png', alt: 'Googleでログイン', class: 'provider-icon', id: "google_signin_button" %>
            <span class="provider-name">ログイン</span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>