<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag '/assets/post_edit.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="title">レビューを編集</h1>
<div class="container">
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title, "書籍タイトル", class: "form-label"  %>
      <%= @post.title %>
    </div>
    <div class="form-group">
      <%= f.label :genre, "ジャンル", class: "form-label" %>
      <%= @post.genre %>
    </div>
    <div class="form-group">
      <%= f.label :content, "感想", class: "form-label" %>
      <%= f.text_area :content, id: "content", class: "form-group-3", maxlength: "140", rows: 4, onkeydown: "return event.key != 'Enter';" %>
    </div>
      <%= f.submit "更新" %>
  <% end %>
</div>