<%= stylesheet_link_tag '/assets/post_edit.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <h1>レビューを編集</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: "form-group-1" %>
    </div>
    <div class="form-group">
      <%= f.label :content, "感想" %>
      <%= f.text_area :content, class: "form-group-2" %>
    </div>
    <div class="form-group">
      <%= f.submit "更新" %>
    </div>
  <% end %>
</div>