<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BookKeeper</title>
        <%= csrf_meta_tags %>
        
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data_turbolink-track': 'reload' %>
        
    </head>

    <body>
        <header>
            <h1><a href="/">Book Keeper</a></h1>
            <nav>
                <ul>
                <% if @current_user %>
                    <li><%= link_to(@current_user.name, "/users/#{@current_user.id}") %></li>
                    <li><a href="/books/new">書籍の追加</a></li>
                    <li><a href="/books">登録書籍一覧</a></li>
                    <li><a href="/posts/new">レビュー投稿</a></li>
                    <li><a href="/posts">書籍レビュー</a></li>
                    <li><%= link_to "ログアウト", "/logout" %></li>

                <% else %>
                    <li><%= link_to("新規登録", "/signup") %></li>
                    <li><%= link_to("ログイン", "/login") %></li>
                <% end %>
                </ul>
            </nav>
        </header>
        

        
    
        <%= yield %>
    </body>

        <footer>
        <p>&copy; 2024 Book Keeper. All rights reserved.</p>
        <nav>
            <ul>
                <li><a href="/">プライバシーポリシー</a></li>
                <li><a href="/">利用規約</a></li>
                <li><a href="/">お問い合わせ</a></li>
            </ul>
        </nav>
    </footer>
</html>